ENVIRONMENT=development

DB_CONTAINER=pocketkeeper_db_container
STORAGES_FILE=docker-compose.yml
HOST = 127.0.0.1
PORT = 8000

# datebase
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASSWORD=
POSTGRES_DB=

# auth
SECRET_KEY=

# email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=Finance API

# cors
CORS_ALLOW_ORIGINS=["http://localhost:5173"]
LOG_LEVEL=INFO
DB_ECHO=False